################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/walls.py
*.pyc
